#*
*$
*.BAK
*.Z
*.bak
*.class
*.dylib
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
models
lib/WSJ_8gau_13dCep_16k_40mel_130Hz_6800Hz.jar
bin
